@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Bright1-blue: hsl(245, 66%, 63%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

html{
    background-color:var(--Pale-blue);
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    background-repeat: no-repeat;
    background-image:url('images/pattern-background-desktop.svg');
}

p{
    color:var(--Desaturated-blue);
    font-size: 16px;
}

a{
    color: white;
}

section{
 flex-direction: column;
 width: 450px;
 height: 700px;
 box-sizing: border-box;
}

.hero-img{
    max-height: 220px;
    box-sizing: border-box;
    
}

.hero-img img{
    border-radius: 20px 20px 0 0;
}

.nth2-order{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: auto;
    padding: 20px;
    border-radius: 0 0 20px 20px;
}

.info-order{
    width: 80%;
    flex-direction: column;
    text-align: center;
    margin:20px 0;
}
.info-order h2{
    color:var(--Dark-blue);
    font-weight: 900;
    margin-bottom: 20px;
}

.pay-section{
    width: 85%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:30px;
    background-color: var(--Very-pale-blue);
    padding: 20px;
    border-radius: 10px;
   
}
.pay-section a{
    color: var(--Bright-blue);
    
}
.pay-section a:hover{
    
    text-decoration: none;
    color: var(--Bright1-blue);
    
}
.oder-section {
    margin-left:-70px;
}

.link-1{
    text-align: center;
    width: 85%;
    height: 50px;
    background-color: var(--Bright-blue);
    margin-bottom: 20px;
    border-radius: 10px 10px;
    font-size: 14px;
    
}
.link-1 a{
    text-decoration: none;
}

.link-1:hover{
    background-color: var(--Bright1-blue);
}

.link-2{
    font-weight: 700;
    color:var(--Dark-blue);
    text-decoration: none;
    margin-bottom: 30px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }